<style>
body {
  font-family: "Lato", sans-serif;
}
.topintro{
	text-align:center;
	background-color: #4B4544;
	padding:50px;
	color: white;
	width:100%;
}
p{
	font-size:25px;
	left:0;
	
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F0F1FF;
  overflow-x: hidden;
  padding-top: 20px;
  
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: black;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}
.column {
  float: left;
  width: 33.33%;
  padding: 2px;
}


.start {
	font-family: Helvetica, Arial, sans-serif;
	font-size:10px;
	 font-weight: 800;
	margin-top:40px;
	text-align:center;
margin-left:200px;
  border-radius: 35px;
  background: #73AD21;
  padding: 10px;  
  width:80px
}
.JavaScript{
	margin-left:200px
}
#JSInfo{
	margin-left:200px;
	font-size:20px
	}
</style>